<h1> On-hill Refreshers </h1>
<h2> Dates </h2>
	<ul>
		<li> December 9 </li>
		<li> December 16 </li>
		<li> December 19 </li>
		<li> December 30 </li>
	</ul>
<h3> Location: Snowflake Mountain </h3>
	<p>Who: All Senior Patrollers, Alpine Patrollers, Nordic Patrollers, and 	Patrollers</p>
	<p>What: Required annual on hill refresher includes chair evacuation drill and two scenarios. </p>
	<p>When: See above dates; all begin at opening </p>
	<p>Where: Meet at the bottom of the triple </p>
	<p>Why: It's required!(Donuts also available) </p>

<h2><u> See who is coming </u></h2>
<% @reservations.each do |reservation| %>
	<div class="booyah-box col-xs-12 col-sm-6">
		<h4><%= reservation.name %></h4>
		<h4><%= reservation.date %></h4>
		<h4><%= reservation.mode %></h4>
	</div>
<% end %>
