@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

body {
	background-color: #184352;
}

h1 {
	color: #6699FF;
	font-family: 'Indie Flower', cursive;
	font-weight: 10;
	font-size: 50px;
}

h2, h3 {
	color: #F5F5F5;
	font-family: 'Indie Flower', cursive;
	font-weight: 25;
	font-size: 30px;
}

li {
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
}

p	{
	font-size: 25px;
	font-family: 'Indie Flower', cursive;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top:10px;
  margin-bottom:15px;
  padding:20px;
}

.navbar.navbar-inverse {
	border-radius:0;
	box-shadow: 0px 1px 3px #2a2a2a;
}